@main {
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
          <ul class="nav nav-list bs-docs-sidenav">
              <li><a href="#overview"><i class="icon-chevron-right"></i> 修改密码</a></li>
              <li><a href="#transitions"><i class="icon-chevron-right"></i> 基本信息</a></li>
              <li><a href="#modals"><i class="icon-chevron-right"></i> 家教要求</a></li>
              <li><a href="#dropdowns"><i class="icon-chevron-right"></i> 家教登记单</a></li>
          </ul>
      </div>
      
      <div class="span9">
        <h3>教员，您好</h3>
            <p>
              With Kippt it’s easy to collect all your links from apps and services. Set up syncs or use our browser extensions.
            </p>
            <p>
              With Kippt it’s easy to collect all your links from apps and services. Set up syncs or use our browser extensions.
            </p>
      </div>
    </div>
  </div>
}