@main {  
  <div class="hero-unit">
		  <h1>关注成长，关注未来</h1>
		  <p><em>我的家教</em> &nbsp;给您寻找家教提供便利</p>
		  <p><a class="btn btn-primary btn-large" href="@routes.Application.initTicket">了解更多 &gt;&gt;</a></p>
	</div>

	<span class="label label-info span11">教师信息展示</span>
	<div class="row">
		<div class="span4">
            <h3>陈教员</h3>
            <p>
                With Kippt it’s easy to collect all your links from apps and services. Set up syncs or use our browser extensions.
              </p>
              <a class="btn btn-primary btn-large" href="/sync/">Go...</a>
        </div>
			
		<div class="span4">
              <h3>谢教员</h3>
              <p>
                With Kippt it’s easy to collect all your links from apps and services. Set up syncs or use our browser extensions.
              </p>
              <a class="btn btn-primary btn-large" href="/sync/">Go...</a>
        </div>
			
		<div class="span4">
              <h3>王教员</h3>
              <p>
                With Kippt it’s easy to collect all your links from apps and services. Set up syncs or use our browser extensions.
              </p>
              <a class="btn btn-primary btn-large" href="/sync/">Go...</a>
        </div>
	</div>
		
	<div class="row">
		<div class="span4">
              <h3>陈教员</h3>
              <p>
                With Kippt it’s easy to collect all your links from apps and services. Set up syncs or use our browser extensions.
              </p>
              <a class="btn btn-primary btn-large" href="/sync/">Go...</a>
        </div>
			
		<div class="span4">
              <h3>谢教员</h3>
              <p>
                With Kippt it’s easy to collect all your links from apps and services. Set up syncs or use our browser extensions.
              </p>
              <a class="btn btn-primary btn-large" href="/sync/">Go...</a>
        </div>
			
		<div class="span4">
              <h3>王教员</h3>
              <p>
                With Kippt it’s easy to collect all your links from apps and services. Set up syncs or use our browser extensions.
              </p>
              <a class="btn btn-primary btn-large" href="/sync/">Go...</a>
        </div>
	</div>
}